# Gradle files
.gradle/
build/
/build
/app/build
gradle-wrapper.jar
/captures/
/local.properties

# Android Studio / IntelliJ IDEA
*.iml
.idea/

# C++ build files
.cxx/

# Build outputs
*.apk
*.ap_
*.aab

# Keystores and sensitive files
# Remember to never publicly share your keystore or credentials.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
**/*.p12
**/*.pem
